table {
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 22px;
}

td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    width: 35px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}